.fabric
.idea
crash-reports
data
defaultconfigs
disabledmods
fancymenu_data
fancymenu_setups
jarmods
local
logs
mods
resourcepacks
saves
schematics
screenshots
shaderpacks
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap
observable_announce
heracles_options.json
usernamecache.json
realms_persistence.json
rhino.local.properties
usercache.json
irisUpdateInfo.json
knownkeys.txt
options.txt
instance.json
config/jade/usernamecache.json
kubejs/documentation
backups
